{% extends 'AsnvbrBundle::layout.html.twig' %}
{% block body %} 
    <article class="col-xs-12">
        <h2>ENS: Ecole Nationale de Sauvetage</h2>
        <p class="col-xs-10 no-padd">
            La Fédération Française de Sauvetage et de Secourisme, en tant que fédération délégataire, a la charge de promouvoir l'éducation par le sauvetage. &Agrave; travers le label E.N.S, la FFSS vise à garantir la qualité de l'enseignement du sauvetage et à contribuer à une meilleure formation et sécurité des pratiquants.<br/>
            Notre association possède l'agrément et garantit donc un enseignement de qualité en toute sécurité par un encadrement ayant une compétence reconnue.
        </p>
        <p class="col-xs-2 no-padd bloc-ens"><img alt="Logo ENS <li>Ecole nationale de sauvetage" src="{{ asset('images/ens.png') }}" width="164" height="186" class="vcenter"></p>
        <h3>Public Visé</h3>
        <p>Tu as entre 6 et 13 ans, tu es à la recherche d'une activité enrichissante au service des autres? Nous te proposons de rejoindre notre équipe de jeunes, pour découvrir les techniques de sauvetage et de secourisme. Tu utiliseras le même matériel que nos équipes de secours opérationnelles, encadré par des moniteurs et secouristes, tu pourras développer progressivement tes compétences jusqu'à, l'âge venu, devenir sauveteur secouriste et sauver des vies.</p>
        <h3>Niveau de progression</h3>
        <p>L'ENS propose différents degrés de capacité qui s'aquièrent au fur et à mesure de l'évolution de l' enfant et permettent aux jeunes enfants de découvrir le sauvetage et de s'épanouir dans un sport tout en apprenant à sauver une vie.</p>
        <div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#eauplate" aria-controls="eauplate" role="tab" data-toggle="tab">En Eau Plate : les Bouées</a></li>
                <li role="presentation"><a href="#cotier" aria-controls="cotier" role="tab" data-toggle="tab">En Côtier : les Bonnets</a></li>
            </ul>
            <div class="tab-content tab-ens col-xs-12">
                <div role="tabpanel" class="tab-pane active" id="eauplate">
                    <p>Les bouées sont des degrés de capacité relatifs au sauvetage en eau plate.</p>
                    <p>Au nombre de sept, son niveau de difficulté est progressif et matérialisé d'une couleur ( Blanche la plus facile à Or pour la plus difficile.</p>
                    <p>Pour connaitre les épreuves de chaque degré, cliquez sur le nom du degré.</p>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBoueeBlanche">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBoueeBlanche" aria-expanded="true" aria-controls="collapseBoueeBlanche">
                                        <img alt="bouée blanche" src="{{ asset('images/bouee_blanche.gif') }}"> Bouée Blanche
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBoueeBlanche" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBoueeBlanche">
                                <div class="panel-body">
                                    <ul>
                                        <li>Nager 25 m sur le ventre et 25 m sur le dos</li>
                                        <li>Sauter d’un plot muni d’une bouée tube en bandoulière</li>
                                        <li>Sauter, récupérer un objet flottant situé à 15 m du bord, le ramener</li>
                                        <li>Se placer devant un obstacle, passer dessous en effectuant un aller puis un retour sans se tenir</li>
                                        <li>Savoir porter assistance à une personne à moins de 5m du bord en lui lançant un objet flottant (bouée, planche …) ou en lui tendant un objet permettant de le ramener sur le bord.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBoueeJaune">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBoueeJaune" aria-expanded="false" aria-controls="collapseBoueeJaune">
                                        <img alt="bouée jaune" src="{{ asset('images/bouee_jaune.gif') }}"> Bouée Jaune
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBoueeJaune" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBoueeJaune">
                                <div class="panel-body">
                                    <ul>
                                        <li>Nager 100m sans matériel et sans arrêt</li>
                                        <li>Sauter avec une bouée tube et palmes à la main puis chausser et effectuer 25m</li>
                                        <li>Savoir remorquer un mannequin flottant sur 25m avec et sans palmes</li>
                                        <li>Effectuer 25m en récupérant au passage 4 anneaux repartis équitablement entre 1m20 et 2m de profondeur</li>
                                        <li>Ramener un copain situé à moins de 15m du bord à l’aide d’une planche sans plame</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBoueeVerte">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBoueeVerte" aria-expanded="false" aria-controls="collapseBoueeVerte">
                                        <img alt="bouée verte" src="{{ asset('images/bouee_verte.gif') }}"> Bouée Verte
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBoueeVerte" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBoueeVerte">
                                <div class="panel-body">
                                    <ul>
                                        <li>Nager 100 m (50m en nage ventrale ; 50m en nage dorsale)</li>
                                        <li>Nager 25m, chausser les palmes et la bouée tube, puis nager 25m</li>
                                        <li>Sauter avec une bouée tube, nager 50m avec la bouée tube, clipser un camarade, agiter un bras afin d’appeler de l’aide</li>
                                        <li>Plonger, nager 12m50, rechercher un mannequin scolaire à une profondeur de 2m maximum, le remorquer sur 12m50</li>
                                        <li>Effectuer 10m sous l’eau sans palme et sans poussée d’un mur</li>
                                        <li>Remorquer une personne de même gabarit avec des palmes sur 25m</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBoueeRouge">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBoueeRouge" aria-expanded="false" aria-controls="collapseBoueeRouge">
                                        <img alt="bouée rouge" src="{{ asset('images/bouee_rouge.gif') }}"> Bouée Rouge
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBoueeRouge" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBoueeRouge">
                                <div class="panel-body">
                                    <ul>
                                        <li>Effectuer un 200m avec franchissement d’obstacle</li>
                                        <li>Plonger avec palmes et bouée tube, clipser un camarade, le remorquer sur 25m</li>
                                        <li>Savoir nager 25m, rechercher un petit mannequin immergé entre 1m80 et 3m, le remorquer pendant 25m</li>
                                        <li>Effectuer 25m sous l’eau avec des palmes</li>
                                        <li>Plonger du bord, chercher un camarade à 12m du bord, le ramener, le sortir de l’eau et écarter tout danger</li>
                                        <li>Connaître les trois numéros d’urgence (pompiers,SAMU, police)</li>
                                        <li>Plonger du bord, chercher un camarade à 20m du bord, le ramener, le sortir de l’eau, et écarter tout danger, savoir passer l’alerte</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBoueeBronze">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBoueeBronze" aria-expanded="false" aria-controls="collapseBoueeBronze">
                                        <img alt="bouée bronze" src="{{ asset('images/bouee_bronze.gif') }}"> Bouée de Bronze
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBoueeBronze" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBoueeBronze">
                                <div class="panel-body">
                                    <ul>
                                        <li>Savoir nager les 4 nages suivant la codification FINA : soit 25m par nage minimum</li>
                                        <li>Nager 35m nage libre, rechercher un mannequin scolaire, le remorquer sur 15m, chausser les palmes et la bouée tube, nager 50m avec palmes et bouée tube en moins de 2 minutes</li>
                                        <li>Savoir nager 25m, rechercher un mannequin adulte immergé entre 1m80 et 3m, le remorquer pendant 25m</li>
                                        <li>Savoir remorquer un mannequin avec des palmes sur une distance de 50m</li>
                                        <li>Nager 25m, effectuer une apnée de 12m50, récupérer un mannequin adulte, le remorquer pendant 12m50</li>
                                        <li>Plonger du bord, chercher un camarade à 20m du bord, le ramener, le sortir de l’eau, et écarter tout danger, savoir passer l’alerte</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBoueeArgent">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBoueeArgent" aria-expanded="false" aria-controls="collapseBoueeArgent">
                                        <img alt="bouée argent" src="{{ asset('images/bouee_argent.gif') }}"> Bouée d'Argent
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBoueeArgent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBoueeArgent">
                                <div class="panel-body">
                                    <ul>
                                        <li>Effectuer un 400m Nage libre en moins de 7 minutes 30</li>
                                        <li>Effectuer un 200m 4 nages</li>
                                        <li>Effectuer un 200m super sauveteur</li>
                                        <li>Effectuer l’épreuve du 50m mannequin en moins 1minutes 10s</li>
                                        <li>Effectuer un 100m combiné</li>
                                        <li>Départ dans l’eau, savoir nager 25m sous l’eau sans palme</li>
                                        <li>AFPS</li>
                                        <li>Prendre connaissance du règlement sportif fédéral</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBoueeOr">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBoueeOr" aria-expanded="false" aria-controls="collapseBoueeOr">
                                        <img alt="bouée or" src="{{ asset('images/bouee_or.gif') }}"> Bouée d'Or
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBoueeOr" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBoueeOr">
                                <div class="panel-body">
                                    <ul>
                                        <li>Effectuer un 800m palme masque et tuba en moins de 13 minutes pour les hommes et 13 minutes 30 pour les femmes</li>
                                        <li>Effectuer un 400m 4 nages (règlement FINA)</li>
                                        <li>Effectuer un 200m super sauveteur en moins de 3 minutes 30 pour les hommes et 3 minutes 40 pour les femmes</li>
                                        <li>Effectuer dans une compétition officielle FFSS, un 100m combiné, et une autre épreuve au choix</li>
                                        <li>Savoir remorquer un mannequin avec et sans bras propulsif sur une distance de 50 m et sans palme</li>
                                        <li>Effectuer 50m en apnée avec les palmes, départ dans l’eau</li>
                                        <li>AFCPSAM</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="cotier">
                    <p>Les bonnets sont des degrés de capacité relatifs au sauvetage côtier.</p>
                    <p>Au nombre de sept, son niveau de difficulté est progressif également comme pour le sauvetage en eau plate et matérialisé d'une couleur (Blanche pour la plus facile à Or pour la plus difficile.)</p>
                    <p>Pour connaitre les épreuves de chaque degré, cliquez sur le nom du degré.</p>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBonnetBlanche">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBonnetBlanche" aria-expanded="true" aria-controls="collapseBonnetBlanche">
                                        <img alt="bonnet blanche" src="{{ asset('images/bonnet_blanc.gif') }}"> Bonnet Blanc
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBonnetBlanche" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBonnetBlanche">
                                <div class="panel-body">
                                    <p>Ce brevet doit être délivré par un titulaire du B.E.E.S.A.N, licencié à la F.F.S.S.</p>
                                    <p>l (N1) Sur un plan d'eau calme, peu profond (de l'eau jusqu'à la poitrine des apprenants), effectuer un parcours de course nage couse, les apprenants doivent maitriser les techniques de "lever les genoux" et du dauphin.</p>
                                    <p>l (P1) Sur ce même plan d'eau effectuer un parcours en planche de sauvetage (planche type Nipper board selon la taille des participants).</p>
                                    <p>Les stagiaires doivent maîtriser les techniques de remonter sur la planche, se propulser à plat ventre et à genoux et faire un virage.</p>
                                    <p>l (BT1) Sur ce même plan d'eau effectuer un parcours de nage avec une bouée tube sans palmes. L'apprenant doit être capable de positionner la bouée tube autour du cou et bras de la victime.</p>
                                    <p>Ranger la bouée tube "prête à intervenir".</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBonnetJaune">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBonnetJaune" aria-expanded="false" aria-controls="collapseBonnetJaune">
                                        <img alt="bonnet jaune" src="{{ asset('images/bonnet_jaune.gif') }}"> Bonnet Jaune
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBonnetJaune" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBonnetJaune">
                                <div class="panel-body">
                                    <p>Ce brevet doit être délivré par un titulaire du B.E.E.S.A.N, licencié à la F.F.S.S.</p>
                                    <p>l (N2) Sur un plan d'eau calme, mais profond, effectuer un parcours de course nage couse.</p>
                                    <p>l (P2) Sur ce même plan d'eau, le stagiaire doit être autonome en planche de sauvetage et effectuer un sauvetage en planche.</p>
                                    <p>l (NP 2 +BT2) Sur ce même plan d'eau l'apprenant doit faire un sauvetage avec une bouée tube et des palmes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBonnetVerte">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBonnetVerte" aria-expanded="false" aria-controls="collapseBonnetVerte">
                                        <img alt="bonnet verte" src="{{ asset('images/bonnet_vert.gif') }}"> Bonnet Vert
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBonnetVerte" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBonnetVerte">
                                <div class="panel-body">
                                    <p>Ce brevet doit être délivré par un titulaire du B.E.E.S.A.N, licencié à la F.F.S.S.</p>
                                    <p>l (N3) Sur un plan d'eau peu agité (vaguelettes) mais peu profond. Effectuer un parcours de nage, le stagiaire doit maîtriser les techniques de course dans l'eau en levant les genoux, du " Dauphin", en passant les vagues et du " body-surf" sur quelques mètres</p>
                                    <p>l (P3) En planche de sauvetage l'apprenant doit passer les vaguelettes en utilisant les deux techniques de propulsion, surfer les vaguelettes au retour et tomber sans perdre son matériel</p>
                                    <p>l (BT3 +NP 3 ) Avec la bouée tube, le stagiaire doit effectuer un parcours avec des palmes en maîtrisant les techniques de chaussage et surfer la vague sur le retour.</p>
                                </div>
                            </div>
                        </div>
                       <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBonnetRouge">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBonnetRouge" aria-expanded="false" aria-controls="collapseBonnetRouge">
                                        <img alt="bonnet rouge" src="{{ asset('images/bonnet_rouge.gif') }}"> Bonnet Rouge
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBonnetRouge" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBonnetRouge">
                                <div class="panel-body">
                                    <p>Sur un plan d’eau agité (vagues de 50cm minimum) :</p>
                                    <ul>
                                        <li>Effectuer un sauvetage en planche sans jamais perdre le contact avec la victime.</li>
                                        <li>Effectuer un sauvetage en bouée tube avec palmes, le sauveteur doit éviter que la victime avale de l’eau.</li>
                                        <li>Effectuer un mini combiné de sauvetage côtier.</li>
                                    </ul>
                                    <p>Sur un plan d’eau calme, effectuer un parcours en kayak de sauvetage côtier (ne pas utiliser de kayak de la F.F.C.K.). En eau profonde le stagiaire doit être autonome.</p>
                                    <p>NB : Le plan d’eau, les profondeurs, les distances et les degrés d’autonomie sont fixés par le moniteur en fonction des paramètres extérieurs.</p>
                                </div>
                            </div>
                        </div>
                       <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBonnetBronze">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBonnetBronze" aria-expanded="false" aria-controls="collapseBonnetBronze">
                                        <img alt="bonnet bronze" src="{{ asset('images/bonnet_bronze.gif') }}"> Bonnet de Bronze (Age minimum : 14 ans) 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBonnetBronze" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBonnetBronze">
                                <div class="panel-body">
                                    <p>Ce Bonnet est délivré par un moniteur de sauvetage côtier officiel "B" qui doit en informer le président du club auquel appartient le sauveteur. Le président doit ensuite délivrer le brevet et mettre à jour la liste de son club (sans pour cela en informer le siège fédéral)</p>
                                    <ul>
                                        <li>Effectuer un parcours de course-nage-course dans des vagues d’au moins 50cm.</li>
                                        <li>Effectuer un parcours de planche de sauvetage en alternant les positions à genoux et à plat ventre.</li>
                                        <li>Maîtriser sa planche lors du parcours. Ceci dans des vagues d’au moins 50cm.</li>
                                        <li>Avoir pris connaissance du règlement des épreuves de sauvetage côtier et répondre à quatre questions simples s’y rapportant, une erreur est admise.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBonnetArgent">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBonnetArgent" aria-expanded="false" aria-controls="collapseBonnetArgent">
                                        <img alt="bonnet argent" src="{{ asset('images/bonnet_argent.gif') }}"> Bonnet d'Argent (Age minimum : 16 ans)
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBonnetArgent" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBonnetArgent">
                                <div class="panel-body">
                                    <p>Ce bonnet peut être délivré par un moniteur de sauvetage côtier Officiel « A » qui doit en informer le président du club auquel appartient le sauveteur. Le président doit mettre à jour la liste correspondante et informer le siège fédéral.</p>
                                    <ul>
                                        <li>Effectuer un mini combiné dans des vagues de 1 mètre minimum.</li>
                                        <li>Effectuer un sauvetage en planche en parfait contrôle de la victime et de la planche dans des vagues de minimum 1 mètre.</li>
                                        <li>Effectuer un sauvetage en bouée tube, dans des vagues de 1 mètre minimum, en veillant à ce que la victime n’avale pas d’eau.</li>
                                        <li>Effectuer un parcours de kayak dans des vaguelettes.</li>
                                        <li>Avoir pris connaissance du règlement des compétitions de sauvetage côtier et répondre à quatre questions simples s’y rapportant, une erreur est admise.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingBonnetOr">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBonnetOr" aria-expanded="false" aria-controls="collapseBonnetOr">
                                        <img alt="bonnet or" src="{{ asset('images/bonnet_or.gif') }}"> Bonnet d'Or (Age minimum : 18 ans)
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseBonnetOr" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingBonnetOr">
                                <div class="panel-body">
                                    <p>Les conditions d’attestation sont les mêmes que pour le Bonnet d’Argent.</p>
                                    <p>Ce bonnet est délivré par un moniteur de sauvetage côtier officiel « A » qui doit en informer le président du club auquel appartient le sauveteur. Le président doit mettre à jour la liste correspondante et informer le siège fédéral.</p>
                                    <ul>
                                        <li>Être titulaire du BNSSA ou diplôme supérieur.</li>
                                        <li>Être titulaire du permis bateau (catégorie A).</li>
                                        <li>Être titulaire de l’officiel « B » de sauvetage côtier.</li>
                                        <li>Êffectuer un combiné de sauvetage côtier dans des vagues d’au moins 1 mètre.</li>
                                        <li>Êffectuer correctement (en étant vigilant sur l'état de la victime et en contrôlant le matériel) un sauvetage en planche puis un sauvetage en bouée tube dans des vagues d’au moins un mètre.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}