<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}ASNVBR - Association de Sauvetage Nautique de Vichy - Bellerive et de sa Région{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" media="screen" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {# http://asnvbr.cluster015.ovh.net/ #}<h1 class="hidden">{{app.request.headers}}</h1>
        <header class="container">
            <div class="hidden-xs col-sm-2"><img src="{{ asset('images/logo_asnvbr.png') }}" class="img-responsive" alt="Logo ASNVBR" /></div>
            <h1 class="col-xs-12 col-sm-8">
                ASNVBR
                <span>Association de Sauvetage Nautique de Vichy-Bellerive et sa Région</span>                
            </h1>
            <div class="hidden-xs col-sm-2">
                <a href="http://www.ffss.fr" title="Fédération Française de Sauvetage et Secourisme" target="_blank"><img src="{{ asset('images/ffss.png') }}" class="img-responsive" alt="Logo Fédération Française de Sauvetage et Secourisme"/></a>
            </div>
            <h2 class="col-xs-12 hidden-xs">Savoir nager, c'est bien. Savoir sauver, c'est mieux !</h2>
        </header>
        <section class="container container-menu">
            {% include('AsnvbrBundle::Partials/menu.html.twig') %}
        </section>
        <section class="container main box-shadow">
            {% block body %}{% endblock %}
        </section>
        <footer class="container text-center">
            ASNVBR - Copyright {{ "now"|date("Y") }}
        </footer>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>